@{@model  List<compras.Models.CoustomerReportComedorRS>
@{
    ViewBag.Title = "prueba";
}
<h2>@ViewBag.Title</h2>

<div class="" row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>Foto</th>
                <th>Numero de Empleado</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Comedor</th>
                <th>Fecha</th>
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.foto</td>
                    <td>@oElemento.numEmploye</td>
                    <td>@oElemento.name</td>
                    <td>@oElemento.lastName</td>
                    <td>@oElemento.comedor</td>
                    <td>@oElemento.date</td>

                </tr>
            }
        </table>
    </div>


</div>