
@model List<compras.Models.CoustomerReportComedorRS>
@{
    ViewBag.Title = "ReportesComedor";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peña Verde</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->.
    <link rel="stylesheet" href="../dist/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="../plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="../plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="../plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="../plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="../plugins/toastr/toastr.min.css">

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">


        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/dist/img/AdminLTELogo.png" alt="logo" height="60" width="120">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>


        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index.html" class="brand-link">
                <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">ComprasPV</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">

                    </div>
                    <div class="info">
                        <a class="d-block"> @Html.ActionLink("Cerrar sesión", "Logout", "Home")</a>
                    </div>
                </div>



                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a class="d-block"> <p>  @Html.ActionLink("Usuarios", "get", "Usuario") </p> </a>

                            </ li >
                            @*<li class="nav-item">
                                    <a href="productos/productos.html" class="nav-link">
                                        <p
                                            Productos

                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="kits/kits.html" class="nav-link">
                                        <p>
                                            Kits

                                        </p>
                                    </a>
                                </li>*@
                            @*<li class="nav-item">
                                    <a href="ordenes/ordenes.html" class="nav-link">
                                        <p>
                                            Órdenes de compra

                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="apertura/apertura.html" class="nav-link">
                                        <p>
                                            Apertura de sistema

                                        </p>
                                    </a>
                                </li>*@

                        <li class="nav-item">
                            <a href="#" class="nav-link">

                                <p>
                                    Reportes
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <i class="far fa-circle nav-icon"></i>
                                    <a> @Html.ActionLink("Reporte comedores", "ReportesComedor", "Home") </a>
                                </li>

                                <li class="nav-item">
                                    <i class="far fa-circle nav-icon"></i>
                                    <a> @Html.ActionLink("Reporte eventos", "ReportesEvento", "Home") </a>
                                </li>

                                <li class="nav-item">
                                    <i class="far fa-circle nav-icon"></i>
                                    <a> @Html.ActionLink("Reporte Salas", "ReportesSala", "Home") </a>
                                </li>
                                @*<li class="nav-item">
                                        <a href="reportes/ordenescompra.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Órdenes de compra</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="reportes/productoscotizar.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Productos por cotizar</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="reportes/sla.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>SLA's</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="reportes/validaorden.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Validación de órdenes</p>
                                        </a>
                                    </li>*@
                            </ul>
                        </li>

                        @*<li class="nav-item">
                                <a href="#" class="nav-link">

                                    <p>
                                        Previsualización
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="productos/vistaproductos.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Productos</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="aprobaciones/vistaaprobaciones.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Aprobaciones</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="ordenes/vistaordenes.html" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Órdenes de compra</p>
                                        </a>
                                    </li>

                                </ul>
                            </li>*@
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h1 class="m-0">Comedor</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-12">

                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">

                <div class="container-fluid">


                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Reporte de usuarios</h3>
                                </div>
                                <!-- /.card-header -->

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            Desde:


                                            <div class="form-group">

                                                <div class="input-group date" id="fromDate" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" id="datesD" name="datesD" data-target="#fromDate" />
                                                    <div class="input-group-append" data-target="#fromDate" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                        <div class="col-sm-3">
                                            Hasta:
                                            <div class="form-group">

                                                <div class="input-group date" id="toDate" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" id="datesH" name="datesH" data-target="#toDate" />
                                                    <div class="input-group-append" data-target="#toDate" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.col -->

                                        <div class="col-sm-3">
                                            <br>
                                            <button class="btn btn-primary btn-block" onclick="EviarFechas()">Filtro</button>

                                        </div>
                                    </div>
                                    <table id="tablausuarios" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Foto</th>
                                                <th>Número Empleado</th>
                                                <th>Nombre</th>
                                                <th>Empresa</th>
                                                <th>Comedor</th>
                                                <th>Días de acceso</th>
                                                <th>Comentario</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td><img src="@Html.DisplayFor(modelItem => item.image)" width="88px;" height="125px;"></td>
                                                    <td>@Html.DisplayFor(modelItem => item.numEmploye)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.lastName)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.compañia)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.comedor)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.days)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.comments)</td>
                                                </tr>

                                            }

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Foto</th>
                                                <th>Número Empleado</th>
                                                <th>Nombre</th>
                                                <th>Empresa</th>
                                                <th>Comedor</th>
                                                <th>Fecha</th>
                                                <th>Comentario</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Peña Verde</strong>
            Uso confidencial.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="../plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Select2 -->
    <script src="../plugins/select2/js/select2.full.min.js"></script>

    <!-- Bootstrap4 Duallistbox -->
    <script src="../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>



    <!-- daterangepicker -->
    <script src="../plugins/moment/moment.min.js"></script>
    <script src="../plugins/inputmask/jquery.inputmask.min.js"></script>
    <script src="../plugins/daterangepicker/daterangepicker.js"></script>


    <!-- Tempusdominus Bootstrap 4 -->
    <script src="../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="../plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="../plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.js"></script>




    <!-- DataTables  & Plugins -->
    <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../plugins/jszip/jszip.min.js"></script>
    <script src="../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>



    <script>
        $(function () {
            //Date picker
            $('#fromDate').datetimepicker({
                format: 'DD-MM-YYYY'
            });

            //Date picker
            $('#toDate').datetimepicker({
                format: 'DD-MM-YYYY'
            });

            $("#tablausuarios").DataTable({
                responsive: true, lengthChange: true, autoWidth: false,
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'colvis',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    }
                ]
            }).buttons().container().appendTo('#tablausuarios_wrapper .col-md-6:eq(0)');



        });


        function EviarFechas() {

            let Desde = document.getElementById("datesD").value;
            let Hasta = document.getElementById("datesH").value;

            console.log(Hasta)
            console.log(Desde)

            if (Desde != "") {
                if (Hasta != null && Hasta != "") {
                    fetch(`/Reportes/SearchComedorbyDate`, {
                        method: 'POST',
                        headers: {
                            'Content-type': 'application/json',
                        },
                        body: JSON.stringify({
                            datesD: Desde,
                            datesH: Hasta
                        })
                    }).then(function (response) {
                        console.log(response.status)
                        if (response.status == 200) {
                            console.log("exito")
                            toastr.success('Registro agregado');

                        } else {
                            console.log("error")
                            toastr.error('Error al registrar Comedor');
                        }
                    }).then(data => {
                        console.log("exito")
                    }).catch(function (error) {
                        console.log("error", error)
                        toastr.error('Error al registrar Comedor');
                    });
                } else {
                    toastr.warning('Indique fin de rango de fecha');
                }
            } else {
                toastr.warning('Indique Inicio de rango de fecha');
            }
        }
    </script>




</body>
</html>
